extends layout

block content
	h1= title
	form(name="input", action="/search", method="get")
		input(type="text", name="searchterm")
		input.btn.btn-primary(type="submit", value="Submit")

	ul#tweetlist
		for tweet in tweets
			li
				span.smalltext TWEETED BY: 
				a(href='/timeline/'+tweet.user.screen_name)@#{tweet.user.screen_name}
				img.img-rounded.grey-border(src=tweet.user.profile_image_url)
				br
				p #{tweet.text}
		else
			li Enter a search query

	a(href='/logout', class='btn btn-primary') Logout
