doctype 5
html
  head
    title= title
    link(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/styles.css')
  body
    block content